---
title: ZTJ
---
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css"/>
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                {% include header.html %}
            </header>
            <section>
                <p>Don't expect anything fancy here any time soon. Hyperlinks of potential interest follow.</p>
                <ul>
                    <li><em>Twitter</em> <a href="http://twitter.com/ztjio">@ztjio</a></li>
                    <li><em>Flickr</em> <a href="http://flic.kr/zacheryjensen">http://flic.kr/zacheryjensen</a></li>
                    <li><em>GitHub</em> <a href="https://github.com/ztj">ztj on GitHub</a></li>
                    <li><em>Gists</em> <a href="https://gist.github.com/ztj">my gists</a></li>
                </ul>
                
                <ul>
  					{% for post in site.posts %}
    				<li>
      					Post ({{ post.date }})&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>
    				</li>
  					{% endfor %}
				</ul>
            </section>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body
</html>
