<div style="display:inline-block; margin: 0; border: 0;">
    <h1 style="display:inline;">ZTJ</h1><h2 style="display:inline;">.io</h2> <span style="color: #CCC">by Zachery Jensen</span>
    <ul>
    	<li><a href="/articles.html" onclick="if ($('#articles').css('display') != 'block') {$('#articles').css('display', 'block');} else {$('#articles').css('display', 'none');}; return false;">Articles</a></li>
        {% assign sortedPages = site.pages | sort: "navigation" %}
        {% for post in sortedPages %}
            {% if post.navigation > 0 %}
            <li>
      		    <a href="{{post.url}}">{{post.title}}</a>
    		</li>
    		{% endif %}
  		{% endfor %}
	</ul>
	<table id="articles">
		{% for post in site.posts %}
    		<tr>
      			<td><a href="{{ post.url }}">{{ post.title }}</a></td><td><small style="font-size: 0.7em;">{{ post.date }}</small></td>
    		</tr>
  		{% endfor %}
  	</table>
</div>
