---
---
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css"/>
        <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                {% include header.html %}
            </header>
            <section>
                {{content}}
            </section>
            <footer>
                {% include footer.html %}
            </footer>
        </div>
    </body
</html>
